[Unit]
Description=lanzous
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/var/run/lanzous.pid
ExecStart=/usr/local/share/logi/LanzouCloudAPI/.venv/bin/python /usr/local/share/logi/LanzouCloudAPI/index.py
Restart=always

[Install]
WantedBy=multi-user.target
