[Unit]
Description=Lanzous Service
After=network-online.target
Wants=network-online.target

[Service]
Environment="HTTP_PROXY=http://127.0.0.1:8888"
Environment="HTTPS_PROXY=http://127.0.0.1:8888"
Type=simple
PIDFile=/var/run/lanzous.pid
WorkingDirectory=/usr/local/share/LanzouCloudAPI
ExecStart=/usr/local/share/LanzouCloudAPI/.venv/bin/python /usr/local/share/LanzouCloudAPI/index.py production
Restart=always

[Install]
WantedBy=multi-user.target
